{% extends 'base.html' %}
{% block title %}可可萝 - 机器人设置{% endblock %}
{% block pagetitle %}群{{ group_id }}服务一览{% endblock %}
{% block head %}
{% endblock %}
{% block body%}
    <div id="domain-pricing" class="container-fluid">
        <div class="container">
            <div class="row domain-lists-holder">
                <div class="col-sm-4">
                    <ul class="domain-list">
                        {% for key in conf[group_id] %}
                        {% if (loop.index % ((loop.length // 3) + 1)) == 0 %}
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="domain-list">
                        {% endif %}
                        <li>
                            <div class="col-xs-6">{{ key }}</div>
                            <button id="{{key}}" onclick="switcher('{{key}}')" class="btn btn-default"> {{ conf[group_id][key] }} </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button onclick="onAll()"class="btn btn-default">启用所有</button>
                    <!-- &emsp; -->
                    <button onclick="offAll()"class="btn btn-default">禁用所有</button>
                    <!-- &emsp; -->
                    <button onclick="save()" class="btn btn-default">保存</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var conf = JSON.parse('{{conf|tojson}}');
        var gid_str = '{{group_id}}';
        for (key in conf[gid_str]) {
            console.log(key);
            if (conf[gid_str][key]) {
                document.getElementById(key).innerText = '开';
                document.getElementById(key).className = 'btn btn-success';
            }
            else {
                document.getElementById(key).innerText = '关';
                document.getElementById(key).className = 'btn btn-danger';
            }
        }
        function save(){
            var url = 'http://{{ public_address }}:{{port}}/set'
            var request = new XMLHttpRequest();
            request.onload = function() {
                if (request.status == 200) {
                    alert('设置成功');
                }
                else {
                    alert('exception');
                }
            };

            request.open('POST',url);
            request.send(JSON.stringify(conf));
        }
        function set_conf(sv_name,is_enable) {
            conf[gid_str][sv_name] = is_enable;
            if (is_enable){
                document.getElementById(sv_name).innerText = '开';
                document.getElementById(sv_name).className = 'btn btn-success';
            }
            else{
                document.getElementById(sv_name).innerText = '关';
                document.getElementById(sv_name).className = 'btn btn-danger';
            }
        }
        function switcher(sv_name) {
            var old_status = conf[gid_str][sv_name];
            var new_status = (old_status + 1)%2;
            set_conf(sv_name,Boolean(new_status));
        }
        function onAll() {
            for (sv_name in conf[gid_str]) {
                if (conf[gid_str][sv_name] == false) {
                    conf[gid_str][sv_name] = true;
                    document.getElementById(sv_name).innerText = '开';
                    document.getElementById(sv_name).className = 'btn btn-success';
                }
            }
        }
        function offAll() {
            for (sv_name in conf[gid_str]) {
                if (conf[gid_str][sv_name] == true) {
                    conf[gid_str][sv_name] = false;
                    document.getElementById(sv_name).innerText = '关';
                    document.getElementById(sv_name).className = 'btn btn-danger';
                }
            }
        }
    </script>
{% endblock %}